.btn {
  &-primary {
    background-color: $azul;
    color: $blanco;

    &:hover {
      background-color: rgba($azul, .7);
      color: $blanco;
      transition: background-color .3s ease-out;
    }
  }

  &-secondary {
    background-color: rgba(0, 126, 242, .1);
    border: 1px solid $azul;
    color: $blanco;

    &:hover {
      background-color: $azul;
      color: $blanco;
      transition: background-color .3s ease-out;
    }
  }

  &-navy {
    background-color: rgba($navy-black, .8);
    border: 1px solid $azul;
    color: $blanco;

    &--big {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding: 1.1rem 3.5rem;

        @include xxs-device {
          float: none;
          margin-bottom: 0;
          margin-top: 2rem;
        }

        @include sm-device {
          margin-bottom: 0;
        }
    }

    &:hover {
      background-color: $navy-nav;
      color: $blanco;
      transition: background-color .3s ease-out;
    }
  }
}
