
.footer {
  background-color: $navy-footer;
  padding: 40px 0;

  &__title {
    color: $blanco;
    font-size: 24px;
  }

  &__parrafo {
    color: rgba($blanco, .4);

    &--justificado {
      color: rgba($blanco, .4);
      text-align: justify;
    }
  }

  &__margin-b-small {
    margin-bottom: 3rem;
  }

  &__logo {
    margin-bottom: 2rem;
  }

  &__redes {
    a > i {
      color: $navy-iconos;
      margin: 1.5rem 1rem 0;
    }
  }

  &__icon {
    color: $azul;
    float: left;
    margin-left: auto;
    margin-right: 2rem;
    min-width: 3.2rem;

    &::after {
      clear: both;
      content: '';
    }
  }

  &__info {
    color: $blanco;
  }

}


.copyright {
  background-color: $navy-black;
  p {
    font-size: 1.4rem;
    margin: 2rem 0;
  }
}
