.form {
    input {
        &[type='submit'] {
            border-radius: .3rem;
            font-family: $aktiv;
            font-size: 1.8rem;
        }
    }
}

.form-control {
    border-radius: .3rem;
    min-height: 4.6rem;
}
