.headline {
  color: $navy-iconos;
  font-size: 2.4rem;

  &--title {
    font-size: 3.4rem;

    @include xxs-device {
      text-align: center;
    }

    @include sm-device {
      text-align: left;
    }
  }

  &--subtitle {
    color: rgba($navy-iconos, .8);
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 0;

    @include xxs-device {
      text-align: center;
    }
  }


  &--lead {
    color: rgba($navy-iconos, .6);
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &--justify {
    text-align: justify;
  }

  &--no-margin {
    margin: 0;
  }

  &--white {
    color: $blanco;
  }

  &--white-70 {
    color: rgba($blanco, .7);
  }

}
