.hero {
  background: url('../../images/hero/bg-midnight-imagen-bg.png') no-repeat;
  background-size: cover;
  min-height: 60rem;
  padding-top: 17.2rem;
  transition: 300s all ease-out;

  &__titulo {
    color: $blanco;
    font-size: 4.2rem;
  }

  &__parrafo {
    color: rgba($blanco, .5);
    line-height: 2.4rem;
    margin-bottom: 3rem;
  }

  &__btn {
    font-size: 1.8rem;
    margin-right: 3rem;
    padding: 1rem 2rem;

    @include xxs-device {
      margin-bottom: 3rem;
      margin-right: 1rem;
    }
  }
}
