.navbar {
    margin-bottom: 0;
    min-height: 7rem;
    transition: all 500ms ease-out;

    &--bg-color {
        background-color: $navy-nav;
        border-color: $navy-nav;
        transition: all 500ms ease-out;
    }

    &-brand {
        display: flex;
        height: 7rem;
        // max-height: 7rem;
        padding: 0 0 0 3rem;

        > img {
            align-self: center;
            max-height: 3.4rem;
        }
    }

    &-toggle {
        border-color: transparent;
        margin: 2rem;
    }

    // --  Menu Icon
    &--menu-icon {
        cursor: pointer;
        height: 30px;
        padding: 5px 2px;
        transition: all .5s;
        width: 30px;
        z-index: 99;

        span {
            background-color: $navy-iconos;
            display: block;
            height: 1px;
            transition: all .5s;
            width: 25px;

            & + span {
                margin-top: 5px;
            }
        }
    }

    //-- Open
    .open {
        span {
          background-color: $navy-iconos;



            &:nth-child(2) {
                margin-top: 0;
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                opacity: 0;
            }

            &:nth-child(4) {
              margin-top: -7px;
              transform: rotate(-45deg);
            }
        }
    }
}

.navbar-nav {
    > li {
        > a {
            color: $blanco;
            font-weight: 500;
            padding: 2.5rem;

            &:focus,
            &:hover {
                background-color: transparent;
                color: $azul;
            }
        }
    }
}
