// -- Colores
$azul: #007ff3;
$blanco: #fff;
$navy-footer: #161c24;
$navy-iconos: #3b3f49;
$navy-black: #0b1017;
$navy-nav: #131b27;

//-- Fuentes
$aktiv: 'AktivGrotesk-Regular', Helvetica, Arial, sans-serif;
