@font-face {
  font-family: 'AktivGrotesk-Regular';
  src: url('../../fonts/aktiv/AktivGrotesk-Regular.eot');
  src: url('../../fonts/aktiv/AktivGrotesk-Regular.woff2') format('woff2'),
       url('../../fonts/aktiv/AktivGrotesk-Regular.woff') format('woff'),
       url('../../fonts/aktiv/AktivGrotesk-Regular.ttf') format('truetype'),
       url('../../fonts/aktiv/AktivGrotesk-Regular.svg#AktivGrotesk-Regular') format('svg'),
       url('../../fonts/aktiv/AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
