// -- Colores
$azul: #007ff3;
$blanco: #fff;
$navy-footer: #161c24;
$navy-iconos: #3b3f49;
$navy-black: #0b1017;
$navy-nav: #131b27;
$gris-skills: #f0f4f5;
$rojo: #f21c00;
$verde: #00b362;
$anaranjado: #f29500;
//-- Fuentes
$aktiv: 'AktivGrotesk-Regular', Helvetica, Arial, sans-serif;
